
# Ignore datasets and generated outputs
data/**
!data/.gitkeep
results/**
!results/.gitkeep

# Ignore virtual environment
venv/

# Ignore report (kept local only)
report/

# Ignore temporary and cache files
__pycache__/
*.pyc
*.pyo
*.npy
*.jpg
*.mp4
